<mat-toolbar class="navbar">
  <div class="navbar-content">
    <div class="navbar-left">
      <img src="assets/banklogo.png" alt="Bank Logo" class="navbar-logo">
      <span class="navbar-title">Money Transfer</span>
    </div>

    <div class="navbar-right" *ngIf="userInfo">
      <button 
        mat-button 
        routerLink="/dashboard" 
        routerLinkActive="active-link"
        *ngIf="isUser()">
        <mat-icon>dashboard</mat-icon>
        Dashboard
      </button>

      <button 
        mat-button 
        routerLink="/transfer" 
        routerLinkActive="active-link"
        *ngIf="isUser()">
        <mat-icon>send</mat-icon>
        Transfer
      </button>

      <button 
        mat-button 
        routerLink="/history" 
        routerLinkActive="active-link"
        *ngIf="isUser()">
        <mat-icon>history</mat-icon>
        History
      </button>

      <button 
        mat-button 
        routerLink="/admin" 
        routerLinkActive="active-link"
        *ngIf="isAdmin()">
        <mat-icon>admin_panel_settings</mat-icon>
        Admin Panel
      </button>

      <button mat-button [matMenuTriggerFor]="userMenu" class="user-button">
        <mat-icon>account_circle</mat-icon>
        <span>{{ userInfo.username }}</span>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>

      <mat-menu #userMenu="matMenu">
        <div class="user-menu-header">
          <mat-icon>person</mat-icon>
          <div class="user-info">
            <div class="username">{{ userInfo.username }}</div>
            <div class="role">{{ userInfo.role }}</div>
          </div>
        </div>
        <mat-divider></mat-divider>
        <button mat-menu-item routerLink="/change-password">
          <mat-icon>lock_reset</mat-icon>
          <span>Change password</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>